body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  padding: 0;
  margin: 0;
}

fieldset,
img {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol,
ul {
  list-style: none;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-weight: normal;
  font-style: normal;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}

q:before,
q:after {
  content: '';
}

abbr,
acronym {
  border: 0;
}



html {
  height: 100%;
}

body {
  min-height: 100%;
}

body {
  font-family: 'Fira Sans', sans-serif;
  background: #F1F1F1;
  color: #354d59;
  background: -webkit-linear-gradient(90deg, rgba(255, 198, 198, 0.1), rgb(220, 226, 195));
  background: -o-linear-gradient(90deg, rgba(255, 198, 198, 0.1), rgb(220, 226, 195));
  background: -moz-linear-gradient(90deg, rgba(255, 198, 198, 0.1), rgb(220, 226, 195));
  background: linear-gradient(90deg, rgba(255, 198, 198, 0.1), rgb(220, 226, 195));


}

#container {
  width: auto;
  margin: 0 10px;
}

h1 {
  font-size: 2.2em;
  font-weight: 700;
  margin: .67em 0;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.67);
  float: left;
  width: 100%;
}

p {
  font-size: 1em;
  line-height: 1.5em;
}

#generator {
  border-top: 5px solid #EDEDDE;
  margin-top: 10px;
  padding-top: 10px;
}

.spinner {
  margin: 40px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;

  -webkit-animation: sk-rotate 2.0s infinite linear;
  -moz-animation: sk-rotate 2.0s infinite linear;
  -o-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1,
.dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #333;
  border-radius: 100%;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  -moz-animation: sk-bounce 2.0s infinite ease-in-out;
  -o-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  -moz-animation-delay: -1.0s;
  -o-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate {
  100% {
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg)
  }
}

@keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg)
  }
}

@-webkit-keyframes sk-bounce {

  0%,
  100% {
    -moz-transform: scale(0.0);
    -o-transform: scale(0.0);
    transform: scale(0.0);
    -webkit-transform: scale(0.0)
  }

  50% {
    -moz-transform: scale(1.0);
    -o-transform: scale(1.0);
    transform: scale(1.0);
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bounce {

  0%,
  100% {
    transform: scale(0.0);
    -moz-transform: scale(0.0);
    -o-transform: scale(0.0);
    -webkit-transform: scale(0.0);
  }

  50% {
    transform: scale(1.0);
    -moz-transform: scale(1.0);
    -o-transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.log {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  /*background:#F1F1F1;   */


  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3 ease-out;
  -o-transition: all 0.3 ease-out;
  transition: all 0.3s ease-out;
}

.wrap_result {
  position: relative;
  min-height: 160px;
  margin-top: 10px;
}


label {
  font-size: 20px;
  width: 100%;
  /*float:left; */
}

input {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #566963;
  display: inline-block;
  color: black;
  font-family: 'Poiret One', cursive;
  font-family: 'Fira Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 22px 10px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #2b665e;
  margin: 5px 0;
}

input#digit {
  width: 19%;
  margin-right: 1%;
  float: left;
  text-align: center;
  box-shadow: inset 0 1px 1px #f0f0f0;
  border-color: #D3D3D3;
}

.checkbox {
  position: relative;
  float: left;
  width: 100%;
}

.checkbox input {
  display: none;
}

.checkbox label {
  font-size: 14px;
  display: inline-block;
  padding: 0 0 0 25px;
  line-height: 1.5em;
  margin-bottom: 6px;
  cursor: pointer;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

.checkbox label:before {
  content: '';
  display: inline-block;
  background: #55D8C6;
  background: #C13287;
  position: absolute;
  left: 0;
  top: 0;
  height: 20px;
  width: 20px;
  margin-right: 10px;
  border-radius: 80%;
  box-shadow: 0px 1px 0 0 rgba(0, 0, 0, .2);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 10px solid #fff;
  -webkit-transition: border .2s ease;
  -moz-transition: border .2s ease;
  -o-transition: border .2s ease;
  transition: border .2s ease;
}

.checkbox input:checked+label:before {
  border-color: #fff;
  border-width: 3px;
}

.checkbox input+label {
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}

.checkbox input:checked+label {
  color: #5D5D5D;
}

.submit_code {
  background-color: #C12A84;
  background: -o-linear-gradient(0deg, rgb(193, 42, 132), rgb(193, 60, 139));
  background: -moz-linear-gradient(0deg, rgb(193, 42, 132), rgb(193, 60, 139));
  background: -webkit-linear-gradient(0deg, rgb(193, 42, 132), rgb(193, 60, 139));
  background: linear-gradient(0deg, rgb(193, 42, 132), rgb(193, 60, 139));
  border-radius: 4px;
  border: 1px solid #f0f0f0;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Poiret One', cursive;
  font-family: 'Fira Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  /*padding:22px 60px; */
  text-align: center;
  text-decoration: none;
  text-shadow: 0px -1px 0px #2b665e;
  width: 80%;

  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3 ease-out;
  -o-transition: all 0.3 ease-out;
  transition: all 0.3s ease-out;

}

.submit_code:hover {
  background-color: #E43EA1;

}

.submit_code:focus {
  outline: none;
}

.submit_code:active {
  position: relative;
  top: 1px;
}

.submit_code[disabled=disabled],
.submit_code:disabled {
  background: gainsboro;
  color: #F9F9F9;
  text-shadow: none;
  cursor: default;
}

.result {
  font-size: 1em;
  overflow: auto;
}

.result div,
.result span {
  margin: 0 1em 0.5em 0;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

#message {
  /*opacity:1;  */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #C12A84;
  background: -o-linear-gradient(0deg, rgb(193, 42, 132), rgb(193, 60, 139));
  background: -moz-linear-gradient(0deg, rgb(193, 42, 132), rgb(193, 60, 139));
  background: -webkit-linear-gradient(0deg, rgb(193, 42, 132), rgb(193, 60, 139));
  background: linear-gradient(0deg, rgb(193, 42, 132), rgb(193, 60, 139));
  color: white;
  z-index: 10;
  height: 2.6em;
  line-height: 2.6em;
  font-weight: 700;
  font-size: 1.3em;
  text-align: center;
  top: -2.6em;

  padding: 1px 0;

  -moz-box-shadow: 0px 1px 2px 0px rgb(148, 148, 148);
  box-shadow: 0px 1px 2px 0px rgb(148, 148, 148);

  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3 ease-out;
  -o-transition: all 0.3 ease-out;
  transition: all 0.3s ease-out;
}


.noUi-connect {
  background: #fff;
}

.noUi-target.noUi-connect,
.noUi-handle {
  box-shadow: none;
}

.noUi-handle {
  background: #9AB70F;
  cursor: pointer !important;
}

.noUi-handle {}

footer {
  font-size: 1.1em;
  padding: 1em 0;
  color: #354D59;
}


@media (min-width: 960px) {

  #container {
    width: 660px;
    margin: 0 auto
  }

}